/*楼层*/
#floor{position:absolute;left:5px;top:840px;border:1px solid #9b9b9b;border-radius:10px;overflow: hidden;}
#floor ul{}
#floor ul li{background:#fff;font:12px/20px "";padding:10px;box-sizing: border-box;text-align: center;}
#floor ul li.last a{border:none;}
#floor ul li a{color:#666;border-bottom:1px solid #9b9b9b;padding:5px;}

#floor .active{color:#fff;background:#f10180;font-weight: 700;}
#floor .active a{color:#fff}