/*广告栏——顶部*/
#menu{height:450px;overflow:hidden;position:relative;}
#menu .menu-l{width:200px;height:390px;position:absolute;left:75px;top:5px;z-index:11000;background:#fdfcfb;border-radius:15px;overflow:hidden;}
#menu .menu-l ul{background:#fdfcfb;width:200px;height:390px;box-sizing: border-box;padding:8px 20px;}
#menu .menu-l ul li{height:65px;border-bottom:1px solid #a6a6a6;}
#menu .menu-l ul li.last{border:0;}
#menu .menu-l ul li .li-top{font:16px/2 "";color:#848484;}
#menu .menu-l ul li .li-bottom{font:14px/1 "";color:#a6a6a6;}
#menu .menu-l-hidden{height:375px;position:absolute;left:263px;top:5px;z-index:12000;background:#fff;padding:15px 22px 0 28px;display:block;}
#menu .menu-l-hidden .phone{display:none;width:408px;}
#menu .menu-l-hidden .laptop{display:none;width:204px;}
#menu .menu-l-hidden .watch{display:none;width:204px}
#menu .menu-l-hidden .home{display:none;width:816px}
#menu .menu-l-hidden .parts{display:none;width:816px}
#menu .menu-l-hidden .service{display:none;width:204px}
#menu .menu-l-hidden ul{float:left;width:204px;height:375px;}
#menu .menu-l-hidden ul li{float:left;}
#menu .menu-l-hidden ul li a{display:block;width:204px;height:80px;color:#000;}
#menu .menu-l-hidden ul li img{width:56px;height:56px;float:left;margin:20px 0 0 10px;}
#menu .menu-l-hidden ul li span{float:left;font:14px/2 "";margin:40px 0 0 10px;color:#777;}

#menu .menu-c{height:400px}
#menu .menu-c img{width:1349px;height:450px;position:absolute;left:1349px;top:0;}
#menu .menu-c img:nth-child(1){left:0;}
#menu .button{}
#menu .button input{width:60px;height:60px;background:#dbdadf;position:absolute;top:180px;border-radius: 50%;font:400 35px/60px "";color:#000;opacity: 0.3;}
#menu .button input.left{left:300px;}
#menu .button input.right{right:0;}
#menu .list{position:absolute;bottom:80px;right:50px;}
#menu .list li{float:left;margin-left:10px;width:15px;height:15px;border-radius:50%;border:2px solid #fff;background:none;}
/*广告栏——中部*/
#banner_c{margin-bottom:20px;}
#banner_c img{display:block;width:1200px;border-radius:20px;}

/*广告栏——底部*/
#banner_b{}
#banner_b img{display:block;width:1200px;border-radius:20px;}